    <body style="background-color:rgb(80, 146, 63);">


{{!-- <select name="areas">
            {{#each myAreas }}
            <option value="{{theCode}}">
                {{area_name}}
            </option>
        </select> --}}










































   </body>
    