<body style="background-color:rgb(80, 146, 63);">

    <br>
    <br>


    <br><br>
    <div class="center" style="font-size:45px ;">Please select the town of Spaza Shop for product suggestion</div>
    <br><br>

    <form action="/suggest/name" method="post">

        <div class="container">
            <div class="row">

                <div class="">

<select name="areas">
                {{#each myAreas }}
                <option value="{{theCode}}">
                    {{area_name}}
                </option>
                {{/each}}
            </select>

            </div>
            <br>


    </form>
    <div class="center" style="font-size:45px ;">Please select the product you would like to suggest for the town </div>

    <form action="/filter" method="post">
        <br>
        <br>
        <label class="">
            <input type="radio" name="town" class="radio-button" value="3">
            <span class="label-body">Bread</span>
        </label>
        <label class="">
            <input type="radio" name="town" class="radio-button" value="2">
            <span class="label-body">Tomato Sauce</span>
        </label>
        <label class="">
            <input type="radio" name="town" class="radio-button" value="1">
            <span class="label-body">Banana Loaf</span>
        </label>
        <label class="">
            <input type="radio" name="town" class="radio-button" value="4">
            <span class="label-body">Doritos</span>
        </label>



        </div>
        <br>

        <br><br>
        <div class="container">
            <div class="row">

                <div class="">
                    <a href=""><button type="" class="btn" value="SUBMIT">SUBMIT</button></a>

                </div>
                <br>
                <br>
                <div class="">
                    <a href=""><button type="" class="btn" value="SUBMIT">SHOW SUGGESTIONS</button></a>

                </div>

            </div>
        </div>
    </form>
</body>



            